.wrapper {
    flex: 1;
}

.grid {
    cursor: grab;
    position: relative;
    touch-action: none;
    user-select: none;
    overflow: hidden;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.cell {
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    color: #ccc;

    animation: fadeIn 0.3s linear;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.draggable {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: grab;
}

